{% extends 'base.html' %}
{% load static %}
{% block content %}
<p class="mt-4">
Jæja kæru vinir, við höfum ákveðið að láta eftir pressuni. Peyjabankinn is back. Þessi næstvinsælasti veðbanki Íslands mun aftur hefja göngu sína. Að þessu sinni mun allur hagnaður bankans renna til fjölskyldu Kolbeins Arnarsonar, en Kolli var fastakúnni í bankanum
Þetta er vissulega sett inn til þess að við öll höfum auka gaman að HM í handbolta.
</p>
<p>
Í ár kostar 2500 krónur að vera með. Um leið og þú skráir þig á að leggja þá upphæð inn á reikning 582-26-763 kt:120777-4759 (Siggi Braga)
Þeir sem ekki hafa lagt inn fyrir fyrsta leik Íslands verða ekki með!
</p>
<img src="{% static 'img/front.jpg' %}" class="img-fluid" >
{% endblock content %}
